<div class = "contain">



<div class="container">
  
    <label for="cname">Course Name</label>
    <input type="text" id="cname" name="coursename" placeholder="Course name">

    <label for="des">Description</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    
    <label for="country">Author</label>
    <input type="text" id="aname" name="authename" placeholder="Author name">

    <label for="country">Duration</label>
    <input type="text" id="dur" name="dur" placeholder="Duration">

   
  
</div>

</div>