@import 'src/stylings/variables';


input[type=text], select, textarea {
	@include property
}


label {
	color: $color_black;
}
input[type=submit] {
	background-color: $background_color_cyan;
	color: $color_white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $background_color_cyan;
	}
}
.container {
	border-radius: 5px;
	background-color: $background_color_grey;
	padding: 20px;
	position: fixed;
	top: 130;
	left: 490;
}

.contain {
	position: fixed;
	top: 5px;
	left: 50px;
}
