<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<!--<h1>SignIn</h1>
<button (click)="socialSignIn('google')" class="google signin btn col s10 m4 autho1">Signin in with Google</button>  -->



<a (click)="socialSignIn('google')"><div class="btn white darken-4 col s20 m4 autho">
     <a  style="text-transform:none" (click)="socialSignIn('google')">
         <div>
             
             <img width="46px" class="left" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
         </div>
         <p class = "left1">SignIn with Google</p>
     </a>
</div>
</a>