<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="side">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3></h3>
        </div>

        <ul class="list-unstyled components">
            <a (click)="btnClick1();"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
            <li class = "hide">
                <a href="#"><i class="fas fa-graduation-cap"></i>  All Courses</a>
            </li>
            <li class="hide">
                <a href="#"> <i class="fas fa-user-graduate"></i>  Registered Courses</a>
            </li>
            
            <li>
                <a (click)="btnClick();"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Authored Courses</a>
            </li>
            <li class="hide">
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Admin Features</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Assign Course</a>
                    </li>
                    <li>
                        <a href="#">Approve/Reject</a>
                    </li>
                    <li>
                        <a (click)="btnClick2();">User Management</a>
                    </li>
                    <li>
                        <a href="#">Report</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

</div>
