
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
<app-sidebar></app-sidebar>
<app-uploadcourses></app-uploadcourses>
<app-logout></app-logout>


<div class = "autho">
  <button (click)="btnClick4();" type="button" class="btn btn-info">Upload</button>
</div>

<div class = "autho1">
  <button (click)="btnClick4();" type="button" class="btn btn-info">Publish</button>
</div>


