<app-logout></app-logout>
<app-sidebar></app-sidebar>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class = "autho">
  <h1>Coming Soon... Under Construction</h1>
  <button (click)="btnClick();" type="button" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true"></i>  Lets go back!</button>
</div>