

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px;
    padding-left: 3px;
    padding-left: 4px ;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;   
}
.container2{
    padding-top:5%;
    font-size: 20px;
    text-align: center;
}
.submitbtn , .submitbtn2 {
    display:inline-block;

    /**other codes**/
    }
    .submitbtn{
        background-color: #01C0C8;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        margin-left:38%;
        width: 10%;
        opacity: 0.9;
        margin-right: 5%;
    
    }
    .submitbtn2{
        background-color:	#01C0C8;
        border: none;
        color: white;
        width: 10%;
        margin-left:48%;
        padding: 16px 20px;
        margin: 8px 0;
        opacity: 0.9;
        cursor: pointer;     

      
    }
    table, th, td {
        border: 1px solid black;
    }
    table{
        width: 70%;
        margin-top: 20%;
        margin-left: 50%;
        
    }
    col{
        width: 40px;
    }