<div class = "create">
<div class="container">
  <h2></h2>
  
  <br>
  <div class="card bg-primary text-white">
    <div class="card-body">
		<div>
			<h2><a href=# style="color:white;">Title</a></h2>
		</div>
		<div>
			<h3>Description:</h3>
			<h5>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
			Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h5>
		</div>
		<div>
			<h3>Author:</h3>
			<h5>Tricon Infotech</h5>
		</div>
		
	</div>
  </div>
  <br>
  </div>