<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class = "show">
<div class="container">
	<div class="row">
		<h2>Courses</h2>

<table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Author</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>xyz</td>
        <td>xyz</td>
        <td>xyz</td>
        <td>xyz</td>
      </tr>
      <tr>
        <td>xyz</td>
        <td>xyz</td>
        <td>xyz</td>
        <td>xyz</td>
        
      </tr>
      <tr>
        <td>xyz</td>
        <td>xyz</td>
        <td>xyz</td>
        <td>xyz</td>
      </tr>
    </tbody>
  </table>
	</div>
</div>
</div>