.courseboard{
    position: fixed;
    border: 1px solid black !important;
    top: 210;
    left: 440;
    width:72%;
    height:50%;
    background:#d5d5d5;

}

.show{
    top:220;
    left:540;
    position:fixed;
    width:890px;
    
}

.right{
   
    
    position: relative;
}

p{
    font-family: "Poppins";
    font-size: 20px;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px white;
}
.table {
    border-radius: 12px;
}

.table thead tr{
    background-color:#01c0c8;
    border: 2px solid #ddd;
}

.table thead tr th{
    border: 2px solid #ddd;
}


.table {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    height:300px;
}

.table tr td{
     border: 2px solid #ddd;
}